.work_page {
  display: flex;
  justify-content: center;
  position: inherit;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #020f21 !important;
}
h2 {
  margin-top: 100px;
}
.view__btn {
  width: 120px;
  height: 39px;
  background: transparent;
  color: #000;
  border: 1px solid black;
  outline: none;
  border-radius: 6px;
  font-weight: 600;
  animation: bounce 1s infinite;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-9px);
  }
  70% {
    transform: translateY(-8px);
  }
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.pcontainer {
  width: 450px;
  height: 600px;
  display: flex;
  background-color: #101625;
  box-shadow: 0px 0px 3px 0px #cccccc;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  border-radius: 9px;
  flex-direction: column;
  overflow: hidden;
}
.project_work_page {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 33px;
  z-index: 33;
}

.proj_component {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-end;
  align-content: center;
}

.proj_header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
}
.proj_btns {
  width: 100%;
  gap: 12px;
  display: flex;
  /* align-items:end; */
  justify-content: center;
  align-content: start;
  padding: 10px;
}

.proj_code,
.proj_live {
  width: 150px;
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
}
.proj_code:active,
.proj_live:active {
  transform: scale(0.6);
}
.proj_live:hover {
  background: #5c6bc0;
  color: #fff;
}
.proj_code:hover {
  background: #ab47bc;
  color: #fff;
}
.pcontainer img {
  height: 150px;
}
.proj_descriptions{
  color: #000;
}
  .proj_descriptions{
  color: #ffffff;
}

  .view__btn {
    border: 1px solid #1e88e5;
    color: #fff;
  }
  .proj_header {
    color: #e4e4e4cf;
  }
  .pcontainer {
    background-color: #101625;
    box-shadow: none;
  }
  .proj_code,
  .proj_live {
    background-color: #807e6e26;
    color: #22f714ba;
  }
  .proj_live {
    color: #2c9efa;
  }

@media screen and (max-width: 420px) {
  .project_work_page {
    width: 100%;
    padding: 20px 0 25px 0;
  }
}

@media screen and (max-width: 500px) {
  .pcontainer {
    width: 80%;
    height: inherit;
  }
  .pcontainer img {
    width: 70%;
  }
  .proj_descriptions {
    width: 100%;
    font-size: 10px;
  }
  .proj_btns {
    flex-direction: column;
    align-items: center;
  }
  .proj_code,
  .proj_live {
    width: 250px;
  }
}

.card {
  max-width: 550px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.05);
  border: 1px solid transparent;
  margin: 20px;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 30%;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}


.uppper_left img {
  width: 250px;
  height: 100px;
}

.project-container {
    display: inline-flex;
}

@media screen and (max-width: 1400px) {
  .project-container {
  display: inline-block;
  }
}


.project-left img {
  width: 250px;
  border-radius: 3px;
}

.project-section,
.project-container-one img {
  width: 100%;
}

.project-section {
  background: #101625;
  padding: 40px 20px;
  gap: 20px;
  width: 100%;
}

.project-section,
.project-upper-section,
.project-upper-container,
.project-container-two,
.project-lower-section,
.project-data-info {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.project-upper-section,
.project-upper-container {
  flex-direction: row;
}

.project-upper-container {
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.project-container-two {
  border-radius: 12px;
  flex-direction: column;
  color: azure;
  padding: 36px 6px;
  gap: 15px;
  width: 650px;
}

.project-upper-section {
  width: 100%;
}

.project-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.project-right h3 {
  font-size: 20px;
}

.project-btn button{
  width: 150px;
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
  background-color: #807e6e26;
  color: #2c9efa;
}
.project-btn button:active {
  transform: scale(0.6);
}
.project-btn button:hover {
  background: #5c6bc0;
  color: #fff;
}

.project-lower-section {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}

.project-lower-section,
.project-data-info {
  width: 95%;
}

.project-data-info {
  line-height: 25px;
}

.project-btn {
  padding-top: 6px;
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .project-container-one {
    width: 50%;
  }
  .project-section {
    padding: 40px 20px;
  }
  .project-section {
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .project-upper-section {
    flex-direction: column;
  }
  .project-container-one img {
    height: auto;
  }
  .project-container-two {
    width: 100%;
  }
  .project-section {
    padding: 36px 20px;
  }
}

@media screen and (max-width: 880px) {
  .project-upper-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .project-lower-section {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .project-left img {
    width: 200px;
  }
  .project-upper-container {
    gap: 20px;
  }
  .project-lower-section {
    width: 80%;
  }
  .project-data-info {
    width: 100%;
    text-align: left;
  }
  .project-right {
    gap: 6px;
    display: flex;
    flex-direction: column;
  }
  .project-right h5 {
    font-size: 13px;
  }
}
